<div class="container">
  <div class="row">
    <span class="display-3">BaseMatchへようこそ!!</span>
    <div class="col text-center">
      <%= link_to "選手ログインへ", player_login_path, class: "btn btn-primary" %>
    </div>
    <div class="col text-center">
      <%= link_to "チームログインへ", team_login_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
